<div class="col-2">
    <h5 class="link-container">
        <%= link_to "Menu", menu_path, class: "link #{@page == 'menu' ? 'active' : ''}" %>
    </h5>

  <% if user_signed_in?  %>
    <h5 class="link-container">
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    </h5>
  <% else %>
    <h5 class="link-container">
      <%= link_to "Login", new_user_session_path %>
    </h5>
  <% end %>

    <h5 class="link-container">
      <%= link_to "Cart", cart_path, class: "link #{@page == 'cart' ? 'active' : ''}" %>
    </h5>
</div>
